<div class="row">
	<h2>Mensajeros/ muestras</h2>
	<div>Entrega de Muestas de Laboratorio</div>
	<div><%= @mensajeros.first.created_at.strftime("%B %d, %Y") %></div>
	<div class="col-sm-offset-2 col-sm-8">
		<ul class="list-group">
			<% @mensajeros.each do |mensajero| %>
			<li class="list-group-item">
				<%= link_to mensajero.name, analitica_path(mensajero) %>
			</li>
			<% end %>
		</ul>
	</div>
</div>